<table>
  <%= form_for @trade do |f| %>
  <tr>
    <th colspan="2">

    </th>

  </tr>
  <tr>
    <td>
      <%= f.label :team1 %>
      <%= f.text_field :team1 %>(seperate by , )
    </td>
    <td>
    <%= f.label :team2 %>
    <%= f.text_field :team2 %>(seperate by , )
    </td>
  </tr>
  <%= f.submit %>
  <% end %>
</table>
