<table class="trade">
  <tr>
    <% @trade.packages.each do |package| %>
      <td>
        <% package.players.each do |player| %>
          <%= player.position %> - <%= player.name %> - <%= player.team %><br>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
    <th colspan="2">
      <%= link_to image_tag("thumbsup.png"), like_trade_path(@trade), method: :put %>
      <%= link_to image_tag("thumbsdown.png"), dislike_trade_path(@trade), method: :put %>
    </th>
  </tr>
  <tr>
    <th colspan="2">
      Yes - <%= @trade.get_up_votes.size %>
      <br>
      No - <%= @trade.get_down_votes.size %>
    </th>
  </tr>
</table>
