<!DOCTYPE html>
<html>
<head>
  <title>Shoulditrade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="login">
  <% if current_user %>
    Welcome back, <%= current_user.first_name %>! |
    <%= link_to 'My Profile', user_path(current_user) %> |
    <%= link_to 'Log Out', logout_path %> |
  <% else %>
    <%= link_to 'Log In', login_path %> |
    <%= link_to 'Sign Up', new_user_path %> |
  <% end %>
  </p>
  <h1><%= link_to('Should I Trade?', trades_path) %></h1>
  <h2><%= link_to('Post a Trade', new_trade_path) %></h2>

<%= yield %>

</body>
</html>
